@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 8%);
}

.boxcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:hsl(0, 0%, 12%);
    height: 100%;
    max-height: 500px;
    width: 100%;
    max-width: 300px;
    padding: 30px;
    border-radius: 15px;
    border-style: none;
}
.boxcard .image img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.boxcard .title p{
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 8px;
    font-weight: bold;
}
.boxcard .subtitle {
    font-size: 12px;
    color: hsl(75, 94%, 57%);
    margin-bottom: 15px;
    font-weight: bold;
}
.boxcard .box-links .links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    max-width: 520px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Quita el subrayado */
    transition: background 0.2s, color 0.2s;
}

.boxcard .box-links .links:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}


